* {
  font-family: 'Quicksand', sans-serif;
  background-color: #F2F2F2;
  color:#000000;
}

.b--bw1-hover:hover {
  border-width: 0.125rem;
}

.banner-image {
  background-position: bottom;
  background-size: contain;
  height: 40vh;
  margin: 1% 0;
  overflow: hidden;
}
